<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Project Title! -->
    <title>EasyOCR API</title>
</head>
<script>
    function click_submit() {
        document.getElementById("submit_btn").disabled = true;
    }

    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("myimage");
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };
        reader.readAsDataURL(selectedFile);
        document.getElementById("submit_btn").disabled = false;
    }
</script>
<body>
<div class="container">
    <div class="jumbotron mt-3">
        <div id='inputImage' style="float:left;width: 50%;">
            <h2>Upload </h2>
            <form action="/analyze" method="post" enctype="multipart/form-data" onsubmit="click_submit()">
                <p>Import Image:<br><input type=file onchange="onFileSelected(event)" name=file</p>
                    <br><br>Choose Language:<br>
                    <select name="lang">
                        <option value="eng">English</option>
                        <option value="ko">Korean</option>
                    </select>

                    <input id="submit_btn" class="btn btn-primary btn-lg" style="margin-left: auto;" type=submit
                           value=Upload>
            </form>
        </div>

        <div style="float:left;width: 50%;">
            <h2>Download sample image</h2>
            [For English model] : <a href="/static/images/test_en.png" target="blank">
            <button class='btn btn-default'>->Download<-</button>
        </a><br>
            [For Korean model] : <a href="/static/images/test_kor.png" target='blank'>
            <button class='btn btn-default'>->Download<-</button>
        </a><br>
        </div>

        <!-- Result Box -->
        {% if result %}
        <img src="data:image/jpg;base64,{{ rawimg|safe }}" style="height: 200px;">
        {% else %}
        <img id="myimage" alt="image not uploaded yet" style="height:200px;">

        {% endif %}
        <h2>Extracted words</h2>
        <h2>: {{ result }}</h2>
        <br><br>
    </div>
</div>
</body>


